body{
    background-image: url(./images/RockPaperScissor-2880x1620_Lede-scaled.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.background{
    width: 50vw;
    height: 70vh;
    margin-left: 25vw;
    margin-top: 15vh;
    /* filter: blur(4px); */
    background-color: rgba(110, 110, 110, 0.576);
}
.background1{
    width: 50vw;
    height: 70vh;
    z-index: 1;
    filter: blur(4px);
    background-color: rgba(110, 110, 110, 0.576);
}
.btn{
    width: 20vw;
    height: 10vh;
    font-size: 50px;
    background-color: chocolate;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    border-radius: 50px;
    padding-bottom:20px;
    margin-left: 15vw;
    margin-top: 20vh;
    margin-right: 2vw;
    box-shadow: rgb(0, 0, 0) 3px 3px 40px 15px;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(114, 239, 214);
}
.btn1{
    width: 20vw;
    height: 10vh;
    font-size: 50px;
    transform: translate(15vw, 10vh);
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    background-color: chocolate;
    padding-bottom:20px;
    border-radius: 50px;
    box-shadow: rgb(0, 0, 0) 3px 3px 40px 15px;
}
.btn1:hover{
    cursor: pointer;
    background-color: rgb(114, 239, 214);
}

.comp{
    transform: translateX(30vw);
}
.comp>h1{
    font-size: 100px;
    transform: translate(4vw, 20vh);
    color: rgb(234, 147, 93);
    text-shadow: 4px 4px 10px black;
    -webkit-text-stroke: 2px black;
}
.comp>button{
    font-size: 50px;
    transform: translate(0vw, 20vh);
    margin-left: 4vw;
    padding: 10px 50px;
    border: none;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(114, 239, 214);
    box-shadow: rgb(0, 0, 0) 3px 3px 40px 15px;
}
.comp>button:hover{
    cursor: pointer;
    background-color: chocolate;
}

.result{
    font-size: 80px;
    color: rgb(234, 147, 93);
    text-shadow: 4px 4px 10px black;
    -webkit-text-stroke: 2px black;
}
.result1{
    transform: translate(0vw, 10vh);
    text-align: center;
    background-color: white;
}

.nam{
    width: 98vw;
}

.nam>input {
    border-radius: 20px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    transform: translate(3vw, 0vh);
    width: 80%;
    padding: 12px 20px;
    margin-top: 4vh;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
.nam>h2{
    font-size: 40px;
    transform: translate(3vw, 6vh);
    color: rgb(234, 147, 93);
    text-shadow: 4px 4px 10px black;
    -webkit-text-stroke: 0.5px black;
}  
.nam>input:focus {
    background-color: lightblue;
}

.nam>button{
    font-size: 50px;
    padding: 5px 50px;
    border: none;
    border-radius: 50px;
    transform: translate(17vw, 12vh);
    background-color: rgb(114, 239, 214);
    box-shadow: rgb(0, 0, 0) 3px 3px 30px 7px;
    font-family: 'Times New Roman', Times, serif;
}
.nam>button:hover{
    background-color: chocolate;
    cursor: pointer;
    box-shadow: rgb(0, 0, 0) 3px 3px 40px 15px;
}

.fri{
    text-align: center;
    transform: translateX(30vw);
}
.fri>h1{
    font-size: 60px;
    transform: translate(0vw, 15vh);
    color: rgb(234, 147, 93);
    text-shadow: 4px 4px 10px black;
    -webkit-text-stroke: 1px black;
}
.fri>button{
    font-size: 50px;
    transform: translate(0vw, 30vh);
    margin-left: 4vw;
    padding: 10px 50px;
    border: none;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(114, 239, 214);
    box-shadow: rgb(0, 0, 0) 3px 3px 40px 15px;
}
.fri>button:hover{
    cursor: pointer;
    background-color: chocolate;
}

.fri1{
    text-align: center;
    transform: translateX(30vw);
}
.fri1>h1{
    font-size: 60px;
    transform: translate(0vw, 15vh);
    color: rgb(234, 147, 93);
    text-shadow: 4px 4px 10px black;
    -webkit-text-stroke: 1px black;
}
.fri1>button{
    font-size: 50px;
    transform: translate(0vw, 30vh);
    margin-left: 4vw;
    padding: 10px 50px;
    border: none;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(114, 239, 214);
    box-shadow: rgb(0, 0, 0) 3px 3px 40px 15px;
}
.fri1>button:hover{
    cursor: pointer;
    background-color: chocolate;
}




















